@{
	ViewData["Title"] = "Welcome to the administrator area";
	ViewData["SecondTitle"] = "Pending for review";
}

<div class="mb-5">
	<h3 class="text-center">@ViewData["Title"]</h3>
	<h5 class="text-center">@ViewData["SecondTitle"]</h5>
</div>