@{
    ViewData["Title"] = "Error 401";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://img.freepik.com/free-vector/computer-forensic-science-digital-evidence-analysis-cybercrime-investigation-data-recovering-cybersecurity-expert-identifying-fraudulent-activity_335657-900.jpg?t=st=1718020840~exp=1718024440~hmac=267e0a3a3907aa05b232f42bee44e4274aba4595787b9026c9161dc4cb9653a0&w=740" alt="Alternative image" class="img-thumbnail">
                <div class="text-center h4">
                    <p>Unauthorized Access</p>
                    <p>You do not have the necessary permissions to view this page. Please check your credentials and try again.</p>
                </div>
                <div class="text-center h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>