<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">For Review</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="All">Manage Users</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="Site" asp-action="Sites">Manage Sites</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="Contractor" asp-action="Sites">Manage Contractors</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="Stage" asp-action="Sites">Manage Stages</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="WorkType" asp-action="Sites">Manage Work Types</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="Unit" asp-action="Sites">Manage Units</a>
	</li>
</ul>