<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">For Review</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="All">Manage Users</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Admin" asp-controller="ConstructionSite" asp-action="AddSite">Add Site</a>
	</li>
</ul>