@{
	ViewData["Title"] = "Add Work";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_WorkAddFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}