@model WorkFormModel

@{
	ViewData["Title"] = "Edit Work";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_WorkFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}